<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="layout">

<body>
	<section layout:fragment="content">
		<div class="containner-fluid mt-5 mr-5 ml-5">
            <div class="row">
            <div class="col-md-6 offset-md-3 text-center ">
           <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
             </div>
            
            </div>
				
		<div class="card">
			
			<div class="card-header  text-center">
				<h3>liste des patients</h3>
			</div>

			<div class="card-body">
				<form method="get" th:action="@{patients}">
					<div class="form-group">
						<label>Name:</label> <input  type="text" th:value="${keyword}"
							name="keyword">
						<button class="btn btn-success">Chercher</button>
					</div>
				</form>
				<table class="table">
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Date naissance</th>
						<th>score</th>
						<th>Malade</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Action</th>
					</tr>
					<tr th:each="p:${patients}">
						<td th:text="${p.id}"></td>
						<td th:text="${p.name}"></td>
						<td th:text="${p.dateNaissance}"></td>
						<td th:text="${p.score}"></td>
						<td th:text="${p.malade}"></td>
						
						<td sec:authorize="hasRole('ROLE_ADMIN')"><a onclick="return confirm('confirmer la supprission')"
							class="btn btn-sm btn-danger" th:href="@{deletePatient(id=${p.id})}">Delete</a>
						 <a class="btn btn-sm btn-success"
								th:href=@{editPatient(id=${p.id})}>Edit
								</a>
						</td>
							
					</tr>
				</table>

				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}"><a
						th:class="${status.index==thisPage ? 'btn btn-primary':'btn'}"
						
						th:href="@{patients(page=${status.index},keyword=${keyword})}"
						class="btn" th:text="${status.index}"></a></li>
				</ul>

			</div>
		</div>
		</div>
	</section>

</body>
</html>