<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:layout="http://ultraq.net.nz/thypeLeaf/Layout"
	xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="layout">
<head>
<meta charset="utf-8">
<title>form patients</title>
</head>
<style>
	img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}
</style>
<body>

	<div layout:fragment="content">
		
		
		<div class="container mt-5">

			<div class="row">
				<div class="col-md-6 offset-md-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="ava.png" alt="Card image cap">
						<div class="card-body">
							<p class="card-text">Nom : <span sec:authentication="name"></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>